html, body {
    padding: 0;
    margin: 0;
}

.border {
    border: 1px solid black;
}

.grid-box {
    padding: 5px;
}

.inner-box {
    margin: 5px;
}

.text-head {
    text-transform: capitalize;
    margin: 0;
}

.text-body {
    text-transform: initial;
    margin: 0;
}

.hidden {
    display: none;
}