#header {
    display: flex;
    flex-direction: column;
}

/* First header row */
#header-title-account-basket-row {
    display: flex;
    flex-direction: row;
}

/* Second header row */
#header-nav-site-row {
    grid-area: nav-site;
    display: flex;
    flex-direction: row;
}

#header-title {
    flex-grow: 1;
    margin: 5px;
    font-size: xx-large;
}

#nav-account-container {

}

#nav-basket-container {

}

#nav-site-container {

}

.spacer-nav {
    flex-grow: 1;
}



