#nav-site-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-flow: column;
    padding: 5px;
    justify-content: left;
}

.nav-site-link-container {
    border: 1px solid black;
}

.nav-site-link-container a {

}

.nav-account-container {
}