#nav-account-button {

}

/* List when in drop down */
#nav-account-list-drop {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    min-width: 75px;
}

/* List drop down items */
#nav-account-list-drop a {
    display: block;
    border: 1px solid black;
    font-size: large;
}

/* List when a static panel */
#nav-account-list-static {
    /* See Nav-Side */
}

/* List static items */
#nav-account-list-static a {
    /* See Nav-Side */
}

/* Container for whole nav account */
#nav-account-container {
    position: relative;
    display: inline-block;
}

/* When container hovered, show drop down list */
#nav-account-container:hover #nav-account-list-drop {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    padding: 5px;
}