#header {
    grid-area: header;
}

/* Product container */
.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

#footer {
    grid-area: footer;
}

.grid-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            "header   header"
            "main    sidebar"
            "footer   footer";
}

