#colours-container {
    display: grid;
}

#colour {
    margin: 0;
    text-transform: capitalize;
    font-size: larger;
}

#colours-colourway-title {
    margin: 0;
    text-transform: capitalize;
    font-size: larger;
}

/* Container for all the individual colourway items */
#colourways-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 5px;
    margin: 5px;
}

/* Individual colourway image */
.colourway-image {
    width: 55px;
    height: 55px;
    max-height: 55px;
    background-size: contain;
    background: no-repeat center;
}

/* Individual colourway label */
.colourway-label {
    margin: 0;
    max-height: 50px;
    flex-grow: 1;
    text-transform: capitalize;
    font-size: small;
    text-align: center;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Individual colourway item container */
.colourway-item-container {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
