#gallery-container {

}

#image-big-container {
    position: relative;
}

#image-big {
    width: 100%;
    max-width: 400px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.magnify-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.magnify-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}