










.additional-info-item-container {
    display: flex;
    flex-direction: row;
    /*max-width: 200px;
    min-width: 200px;*/
}

.additional-info-head {
    margin: 0;
    width: 100px;
    text-transform: capitalize;
    font-size: medium;
    text-align: right;
}

.additional-info-body {
    margin: 0 0 0 5px;
    text-transform: capitalize;
    font-size: medium;
    flex-grow: 1;
    /*overflow-wrap: break-word;
    word-break: break-all;*/
}


#additional-info-container {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns:
            repeat(auto-fit, minmax(250px, 1fr));
}