#product-title {
    grid-area: title;
    font-size: xx-large;
    margin: 0;
    text-transform: capitalize;
}

#product-brand {
    grid-area: brand;
    font-size: larger;
    margin: 0;
    text-transform: capitalize;
}

#product-collection {
    grid-area: collection;
    font-size: larger;
    margin: 0;
    text-transform: capitalize;
}

#price-container {
    font-size: larger;
}

#price_current {

}

#description-container {

}

#description {

}

#colours-container {

}

#title-brand-collection-container {
    display: grid;
    grid-template-areas:
            "title title"
            "brand collection";
}

#info-main-container {
    display: grid;
    grid-gap: 5px;
}

