/* See Gallery.css for breakdown */
#gallery-container {
    grid-area: gallery;
}

#info-main-container {
    grid-area: info-main;
}

#additional-info-container {
    grid-area: info-additional;
}

.product {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            "gallery   info-main"
            "gallery    info-main"
            "info-additional   info-additional";
}