.product-new-section {
    text-transform: capitalize;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.product-new-section h3 {
    margin: 0;
}

#form-new-title {
    margin: 0;
    font-size: x-large;
    text-transform: capitalize;
}

.field label {
    width: 125px;
    grid-area: label;
    text-transform: capitalize;
}

.field > input select textarea {
    grid-area: input;
}

.field > input[type=text], .field > input[type=number]  {
    width: 150px;
}

.field {
    display: grid;
    justify-content: start;
    grid-template-areas: "label input";
}

#product-new-container{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
}