



.type-choice {
    text-transform: capitalize;
    width: 100px;
}

#choose-type-container {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    grid-auto-flow: column;
    justify-content: left;
}