.filter-category-container {
    border: 1px solid black;
    margin: 5px;
}

.filter-category-heading {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.filter-category-heading p {
    margin: 5px;
}

.filter-category-title {
    text-transform: capitalize;
    flex-grow: 1;
}

.filter-category-drop-down {
}

.filter-category-choice-container {
    display: grid;
    grid-gap: 5px;
    margin: 5px;
}

.filter-choice-title {
    margin: 0;
    flex-grow: 1;
}

.filter-choice-check-container {
    display: flex;
    flex-direction: row;
}

.filter-choice-check-box {

}

/* Container for range text, slider, and value */
.filter-choice-range-container {
    display: grid;
    margin: 5px;
    grid-template-rows: 1fr 1fr 1fr;
}

/* The range slider itself */
.filter-choice-range {
    margin: 0;
}

/* The text for the range value */
.filter-choice-range-value {
    margin: 2px 0 0 0;
    text-align: right;
}