#grid-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

#show-next-container {
    flex-grow: 1;
    display: grid;
    justify-items: center;
    padding: 10px;
}