/* The container for all of the product items'
items to be held in. */
.product-item-container {
    border: 1px solid black;
    cursor: pointer;
}

/* The product items thumbnail image */
.product-item-image {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
}

/* The main title */
.product-item-title {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

/* Brand subtitle text */
.product-item-brand {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

/* Original price text */
.product-item-original-price {
    margin: 0;
    text-align: center;
}

/* Current price text */
.product-item-current-price {
    margin: 0;
    text-align: center;
}
