#sort-container {
    display: flex;
    flex-direction: row;
}

.sort-title {
    text-align: right;
    margin: 5px 0 5px 5px;
}

.sort-select {
    margin: 5px;
}

#sort-title-sort {
    flex-grow: 1;
}

#sort-title-show {
    padding-left: 10px;
}

