#header {
    grid-area: header;
}

#sidebar-left {
    grid-area: sidebar-left;
}

#main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

#sidebar-right {
    grid-area: sidebar-right;
}

#footer {
    grid-area: footer;
}

#grid-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 11fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            "header header"
            "sidebar-left main"
            "footer footer";
}