


#stats-orders {
    grid-area: orders;
}

#stats-users {
    grid-area: users;
}

#stats-products {
    grid-area: products;
}


.stats-box {

}



#stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "orders users products";
    padding: 10px;
    grid-gap: 10px;
}