html, body {
    background-color: #EFEFEF;
}

#header {
    grid-area: header;
}

#sidebar-left {
    grid-area: sidebar-left;
}

#main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

#footer {
    grid-area: footer;
}

#grid-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            "header"
            "main"
            "footer";
}

