
/* The text block and header container */
.content-text-container {
    width: 500px;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 5px #AAAAAA;
    padding: 10px;
}

/* Text block header */
.content-text-container h2 {
    font-family: 'Ovo', serif;
    text-transform: capitalize;
    margin: 10px 0 10px 0;
}

/* Text block paragraph text */
.content-text-container p {
    font-family: 'Muli', sans-serif;
    margin: 0 0 15px 0;
}

#welcome-container {

}

#about-container {

}

#contact-container {

}

/* Parallax images */
.content-image-container {
    background: no-repeat fixed;
    background-position: center;
    background-size: contain;
}

/* Image welcome */
#welcome-image {
    background-image: url("../images/machine_sew_1080.jpg");
    height: calc(100vh - 200px);
}


#main {
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    /* Parallax settings */
    perspective: 1px;
    transform-style: preserve-3d;
}