#footer {
    background-color: #D1D6C3;
}

#footer-text {
    font-family: 'Ovo', serif;
    font-size: 26px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

#socialIconsContainer {
    align-content: center;
    text-align: center;
}

#socialIconsContainer a {
    text-decoration: none;
}

#socialIconsContainer img {
    height: 30px;
    margin: 2px;
}