#header {
    background-color: #D1D6C3;
}

#header-title {
    font-family: 'Ovo', serif;
    font-size: 52px;
    text-align: center;
    margin: 0;
    color: #323232;
    text-transform: capitalize;
}


/* Nav links */
.nav-link {
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    font-size: medium;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
    color: #323232;
    transition: 0.3s;
}

/* Nav link hover */
.nav-link:hover {
    background-color: #f3eac2;
    font-weight: bold;
}

/* Nav link divider */
.nav-link-divider {
    border-left: 2px solid #323232;
    margin: 3px;
}

/* Nav link spacer */
#spacer-nav {
    flex-grow: 1;
}

/* Nav Container */
#header-nav-site {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: column;
    justify-content: center;
    background-color: #E8DFBD;
}

