
#header {
    grid-area: header;
}

#main {
    grid-area: main;
    display: grid;
    justify-content: center;
}

#footer {
    grid-area: footer;
}

#grid-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 11fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            "header"
            "main"
            "footer";
}