.login-register-form {
    margin: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
}

.field label {
    text-align: left;
    grid-area: label;
}

.field input {
    grid-area: input;
    height: 20px;
}

.field {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 75px auto;
    grid-template-areas: "label input";
    align-content: center;
}