


.tab-login-register {
    margin: 10px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.tab-chosen {
    text-decoration: none;
    color: black;
    cursor: default;
}

#tab-login {
    grid-area: login;
}

#tab-register {
    grid-area: register;
}

#tab-divider {
    grid-area: divider;
    text-align: center;
    font-size: larger;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}

#tab-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-areas:
            "login divider register";
}

#login-register-container {
    /* TODO: Own display for tabs and form. */
}