




#profile-details-container {
    grid-area: details;
}

#profile-actions-container {
    grid-area: actions;
}

#profile-container {
    display: grid;
    grid-template-areas: "details actions";
}